# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
# created-by: conda 25.5.1
anyio==\1
argon2-cffi==\1
argon2-cffi-bindings==\1
asttokens==\1
async-lru==\1
attrs==\1
babel==\1
beautifulsoup4==\1
blas==\1
bleach==\1
bottleneck==\1
brotlicffi==\1
bzip2==\1
ca-certificates==\1
certifi==\1
cffi==\1
charset-normalizer==\1
colorama==\1
comm==\1
contourpy==\1
cycler==\1
debugpy==\1
decorator==\1
defusedxml==\1
executing==\1
expat==\1
fonttools==\1
freetype==\1
git==\1
h11==\1
httpcore==\1
httpx==\1
icu==\1
idna==\1
intel-openmp==\1
ipykernel==\1
ipython==\1
ipython_pygments_lexers==\1
ipywidgets==\1
jedi==\1
jinja2==\1
jpeg==\1
json5==\1
jsonschema==\1
jsonschema-specifications==\1
jupyter==\1
jupyter-lsp==\1
jupyter_client==\1
jupyter_console==\1
jupyter_core==\1
jupyter_events==\1
jupyter_server==\1
jupyter_server_terminals==\1
jupyterlab==\1
jupyterlab_pygments==\1
jupyterlab_server==\1
jupyterlab_widgets==\1
kiwisolver==\1
lcms2==\1
lerc==\1
libdeflate==\1
libffi==\1
libkrb5==\1
libmpdec==\1
libpng==\1
libpq==\1
libsodium==\1
libtiff==\1
libwebp-base==\1
libzlib==\1
lz4-c==\1
markupsafe==\1
matplotlib==\1
matplotlib-base==\1
matplotlib-inline==\1
mistune==\1
mkl==\1
mkl-service==\1
mkl_fft==\1
mkl_random==\1
nbclient==\1
nbconvert==\1
nbconvert-core==\1
nbconvert-pandoc==\1
nbformat==\1
nest-asyncio==\1
notebook==\1
notebook-shim==\1
numexpr==\1
numpy==\1
numpy-base==\1
openjpeg==\1
openssl==\1
overrides==\1
packaging==\1
pandas==\1
pandoc==\1
pandocfilters==\1
parso==\1
pillow==\1
pip==\1
platformdirs==\1
prometheus_client==\1
prompt-toolkit==\1
prompt_toolkit==\1
psutil==\1
pure_eval==\1
pycparser==\1
pygments==\1
pyparsing==\1
pyqt==\1
pyqt6-sip==\1
pysocks==\1
python==\1
python-dateutil==\1
python-fastjsonschema==\1
python-json-logger==\1
python-tzdata==\1
python_abi==\1
pytz==\1
pywin32==\1
pywinpty==\1
pyyaml==\1
pyzmq==\1
qtbase==\1
qtconsole==\1
qtdeclarative==\1
qtpy==\1
qtsvg==\1
qttools==\1
qtwebchannel==\1
qtwebsockets==\1
referencing==\1
requests==\1
rfc3339-validator==\1
rfc3986-validator==\1
rpds-py==\1
send2trash==\1
setuptools==\1
sip==\1
six==\1
sniffio==\1
soupsieve==\1
sqlite==\1
stack_data==\1
tbb==\1
tbb-devel==\1
terminado==\1
tinycss2==\1
tk==\1
tornado==\1
traitlets==\1
typing-extensions==\1
typing_extensions==\1
tzdata==\1
ucrt==\1
urllib3==\1
vc==\1
vc14_runtime==\1
vs2015_runtime==\1
wcwidth==\1
webencodings==\1
websocket-client==\1
wheel==\1
widgetsnbextension==\1
win_inet_pton==\1
winpty==\1
xz==\1
yaml==\1
zeromq==\1
zlib==\1
zstd==\1
